section.hero.is-white
	div.hero-body
		div.columns.has-text-centered
			div.column
				p.title.is-4.has-text-primary Coming: #{rsvp_totals.yes}
			div.column
				p.title.is-4.has-text-danger Regrets: #{rsvp_totals.no}
			div.column
				p.title.is-4.has-text-info Unresponded: #{rsvp_totals.unresponded}
			div.column
				p.title.is-4.has-text-danger Cancelled: #{rsvp_totals.cancelled}
br
h1.title.is-family-secondary.has-text-centered Guest Info
each family in families
	div.card.is-fullwidth
		div.card-header.card-toggle(style="cursor:pointer;")
			p.card-header-title.is-4.is-family-secondary #{family.name}
			a.card-header-icon
				i.fa.fa-angle-down
			a.card-header-icon.is-hidden
				i.fa.fa-angle-up
		div.card-content.is-hidden
			div.box
				div.level
					div.level-item
						div.label Family Options:
					div.level-item
						div.field
							div.control
								label.checkbox
									if family.traveling
										input(name="family-"+family.id+"-traveling"
										type="checkbox"
										onchange="showFamUpdateBtn("+family.id+")"
										checked)
									else
										input(name="family-"+family.id+"-traveling"
										type="checkbox"
										onchange="showFamUpdateBtn("+family.id+")")
									span  Is traveling to NYC
					div.level-item
						div.field
							div.control
								label.checkbox
									if family.plusone
										input(name="family-"+family.id+"-plusone"
										type="checkbox"
										onchange="showFamUpdateBtn("+family.id+")"
										checked)
									else
										input(name="family-"+family.id+"-plusone"
										type="checkbox"
										onchange="showFamUpdateBtn("+family.id+")")
									span  Allow plus one
					div.level-item
						div.field
							button.button.is-light.is-small.is-hidden.updatebtn(
								id="family-"+family.id+"-update"
								onclick="updateFamilyInfo(" + family.id + ")") Update

			div.content(id="record-content-"+family.id)
				div.content(id="record-content-travel-"+family.id)
					if family.traveling
						include travel.pug

				each record in family.guests
					div.card
						div.card-content
							div.media
								div.media-content
									div.title.is-4.is-family-secondary #{record.firstname} #{record.lastname}
									p.subtitle.is-6 #{record.email}
								div.media-right
									div.tags
										if record.user_id != null
											span.tag.is-dark Registered
										else
											span.tag.is-danger Not Registered
							div.columns
								div.column.is-one-quarter
									div.box
										div.label Guest Options
										div.container
											div.field
												div.control
													label.checkbox
														if record.rehearsal
															input(name="guest-"+record.id+"-rehearsal"
															type="checkbox"
															onchange="showUpdateBtn("+record.id+")"
															checked)
														else
															input(name="guest-"+record.id+"-rehearsal"
															type="checkbox"
															onchange="showUpdateBtn("+record.id+")")
														span  Rehearsal dinner
											div.field
												div.control
													label.checkbox
														if record.admin
															input(name="guest-"+record.id+"-admin"
															type="checkbox"
															onchange="showUpdateBtn("+record.id+")"
															checked)
														else
															input(name="guest-"+record.id+"-admin"
															type="checkbox"
															onchange="showUpdateBtn("+record.id+")")
														span  Is Admin
											div.field
												button.button.is-light.is-small.is-hidden.updatebtn(
													id="guest-"+record.id+"-update"
													onclick="updateGuestInfo(" + record.id + ")") Update
								div.column(id="response-"+record.id)
									include rsvp_layout.pug
				if family.plusone_guest != null
					div.card
						div.card-content
							div.media
								div.media-content
									div.title.is-4.is-family-secondary #{family.plusone_guest.firstname} #{family.plusone_guest.lastname}
									p.subtitle.is-6 N/A
								div.media-right
									div.tags
										span.tag.is-info Is Plus One
										
							div.columns
								div.column.is-one-quarter
									div.box
										div.label Guest Options
										div.container
											div.field
												div.control
													label.checkbox
														if family.plusone_guest.rehearsal
															input(name="guest-"+family.plusone_guest.id+"-rehearsal"
															type="checkbox"
															onchange="showUpdateBtn("+family.plusone_guest.id+")"
															checked)
														else
															input(name="guest-"+family.plusone_guest.id+"-rehearsal"
															type="checkbox"
															onchange="showUpdateBtn("+family.plusone_guest.id+")")
														span  Rehearsal dinner
										
											div.field
												button.button.is-light.is-small.is-hidden.updatebtn(
													id="guest-"+family.plusone_guest.id+"-update"
													onclick="updateGuestInfo(" + family.plusone_guest.id + ")") Update
								div.column(id="response-"+family.plusone_guest.id)
									if family.plusone_guest.rsvp != undefined
										if family.plusone_guest.rsvp.response == "yes"
											div.notification.is-primary
												div.label.is-family-secondary RSVP
												div.content
													p I am coming
													p Food allergies: #{family.plusone_guest.allergies}
											button.button.is-outlined.is-danger(id="#rsvp-control-" + family.plusone_guest.id onclick="rsvp("+family.plusone_guest.id+", 'cancelled')") Cancel RSVP
										else if family.plusone_guest.rsvp.response == "no"
											div.notification.is-danger
												div.label.is-family-secondary RSVP
												div.content
													p I send my regrets
											button.button.is-outlined.is-primary(id="#rsvp-control-" + family.plusone_guest.id onclick="rsvp("+family.plusone_guest.id+", 'yes')") RSVP yes
										else if family.plusone_guest.rsvp.response == "cancelled"
											div.notification.is-danger
												div.label.is-family-secondary RSVP
												div.content
													p My RSVP was cancelled by an admin
											button.button.is-outlined.is-primary(id="#rsvp-control-" + family.plusone_guest.id onclick="rsvp("+family.plusone_guest.id+", 'yes')") RSVP yes
										else if family.plusone_guest.rsvp.response == ""
											div.box
												div.label.is-family-secondary RSVP
												div.content
													p Hasn't responded yet
											div.columns
												div.column
													button.button.is-outlined.is-dark(id="#rsvp-control-" + family.plusone_guest.id onclick="rsvp("+family.plusone_guest.id+", 'yes')") RSVP yes
												div.column
													button.button.is-outlined.is-dark(id="#rsvp-control-" + family.plusone_guest.id onclick="rsvp("+family.plusone_guest.id+", 'no')") RSVP no
									else
										div.box
											div.label RSVP
											div.content
												p Hasn't responded yet
										div.columns
											div.column
												button.button.is-outlined.is-dark(id="#rsvp-control-" + family.plusone_guest.id onclick="rsvp("+family.plusone_guest.id+", 'yes')") RSVP yes
											div.column
												button.button.is-outlined.is-dark(id="#rsvp-control-" + family.plusone_guest.id onclick="rsvp("+family.plusone_guest.id+", 'no')") RSVP no	
	br
else
	div.notification.is-danger 
		p Something went wrong