each record in guestdata
	div.card
		div.card-content
			div.media
				div.media-content
					div.title.is-4.is-family-secondary #{record.firstname} #{record.lastname}
					p.subtitle.is-6 #{record.email}
				div.media-right
					div.tags
						if record.user_id != null
							span.tag.is-dark Registered
						else
							span.tag.is-danger Not Registered
						if record.admin
							span.tag.is-primary Admin
			div.columns
				div.column.is-one-quarter
					div.box
						div.label Guest Options
						div.container
							div.field
								div.control
									label.checkbox
										if record.rehearsal
											input(
											type="checkbox"
											name="rehearsal"
											checked)
										else
											input(
											type="checkbox"
											name="rehearsal")
										span  Rehearsal Dinner 
							div.field
								div.control
									label.checkbox
										if record.plusone
											input(
											type="checkbox"
											name="plusone"
											checked)
										else
											input(
											type="checkbox"
											name="plusone")
										span  Plus one 
							div.field
									button.button.is-light.is-small Update
				div.column
					div.box
						div.label RSVP
	br
else
	div.notification.is-danger 
		p Something went wrong