section.hero.is-primary(id="accomodations")
	div.hero-body
		div.container.has-text-centered
			h1.title.is-family-secondary Accomodations
			p There's no shortage of great places to stay in NYC!
			p Many of the wedding festivities will be taking place in and around North Brooklyn (Williamsburg).  We suggest staying close by! 
			p Here are a few suggestions...
		br
		div.columns
			div.column.is-half
				div.box.is-rounded.has-text-centered
					a.button.is-white.is-size-3.is-expanded(
						target="_blank" href="https://thehoxton.com/new-york/williamsburg/hotels"
						) The Hoxton
					div.notification.is-danger.has-text-centered **Use the code <strong> HITCHED1019 </strong> for a discounted rate**
					figure.image
						a(
						target="_blank"
						href="https://thehoxton.com/new-york/williamsburg/hotels"
						)
							img(width="300" src="https://static.dezeen.com/uploads/2018/09/the-hoxton-ennismore-interiors-hotel-williamsburg-brooklyn-new-york-city-usa_dezeen_2364_col_6.jpg")
					div.contianer
						iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.866131610634!2d-73.9607824851062!3d40.72096337933091!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2595d430a29e1%3A0xb81735c0f9cdce4c!2s97+Wythe+Ave%2C+Brooklyn%2C+NY+11249!5e0!3m2!1sen!2sus!4v1551576819157" width="600" height="450" frameborder="0" style="border:0" allowfullscreen)
			div.column.is-half
				div.box.is-rounded
					figure.image
						a(
						target="_blank"
						href="https://www.airbnb.com/s/Brooklyn--NY--United-States/homes?refinement_paths%5B%5D=%2Fhomes&query=Brooklyn%2C%20NY%2C%20United%20States&checkin=2019-10-17&checkout=2019-10-20&adults=2&children=0&infants=0&guests=2&toddlers=0&allow_override%5B%5D=&zoom=13&search_by_map=true&sw_lat=40.670313140725895&sw_lng=-73.99818523942827&ne_lat=40.72128415236758&ne_lng=-73.93052387189982&s_tag=vn0cJJnr"
						)
							img(src="images/airbnb.png")

				div.box.is-rounded
					figure.image
						a(
						target="_blank"
						href="https://www.vrbo.com/results?adultsCount=2&petIncluded=false&q=Williamsburg%2C%20Brooklyn%2C%20NY%2C%20USA&from-date=2019-10-17&to-date=2019-10-20"
						)
							img(src="images/vrbo.jpg")



						
						
					
	
		