mixin invited(id, firstname, lastname)
	input.rsvp(type="hidden" data-guestid=id value="")
	div.columns.has-text-centered
		div.column
			div.title.is-4.is-family-vtks= firstname + ' ' + lastname
		div.column
			button.button.is-outlined.is-dark.is-small.is-family-vtks.rsvp-yes(data-guestid=id onclick="rsvpYes(" + id + ")") Accepts With Pleasure
		div.column
			button.button.is-outlined.is-dark.is-small.is-family-vtks.rsvp-no(data-guestid=id onclick="rsvpNo(" + id + ")") Regretfully Declines

mixin coming(id, firstname, lastname)
	input.rsvp(type="hidden" data-guestid=id value="yes")
	div.columns.has-text-centered
		div.column
			div.title.is-4.is-family-vtks= firstname + ' ' + lastname
		div.column
			button.button.is-success.is-small.is-family-vtks.rsvp-yes(disabled data-guestid=id onclick="rsvpYes(" + id + ")") Accepted With Pleasure
		div.column
			button.button.is-outlined.is-dark.is-small.is-family-vtks.rsvp-no(data-guestid=id onclick="rsvpNo(" + id + ")") Regretfully Declines

mixin notcoming(id, firstname, lastname)
	input.rsvp(type="hidden" data-guestid=id value="no")
	div.columns.has-text-centered
		div.column
			div.title.is-4.is-family-vtks= firstname + ' ' + lastname
		div.column
			button.button.is-outlined.is-dark.is-small.is-family-vtks.rsvp-yes(data-guestid=id onclick="rsvpYes(" + id + ")") Accepts With Pleasure
		div.column
			button.button.is-danger.is-small.is-family-vtks.rsvp-no(disabled data-guestid=id onclick="rsvpNo(" + id + ")") Regretfully Declined
script
	include rsvp.js
section.section(id="rsvp")
	div.card.has-background-dark
		div.card-content(style="padding:10px;")
			div.card
				div.card-content(style="padding:10px;")
					div.content.rsvp-outer
						div.content.rsvp-inner
							div.container.has-text-centered(id="invite")
								div.is-family-natyl.is-size-2 rsvp
								br
								if user.family_members.length > 0
									div.has-text-centered.is-family-vtks
										p Please indicate the attendance for all members in your party.
								br

								if user.rsvp == "yes"
									+coming(user.id, user.firstname, user.lastname)
								else if user.rsvp == "no"
									+notcoming(user.id, user.firstname, user.lastname)
								else
									+invited(user.id, user.firstname, user.lastname)

								if user.family_members.length == 0
									br

								div.field.is-horizontal
									div.field-label.label.is-family-vtks.help Food Allergies
									div.field-body
										div.field
											div.control
												input.input.is-small.allergies(type="text" placeholder="Allergies or dietary restrictions." value=user.allergies onchange="showSendButton()")

								div.content(id="plusone-content")
									include plusone.pug

								if user.family_members.length > 0
									each member in user.family_members
										br
										br
										if member.rsvp == "yes"
											+coming(member.id, member.firstname, member.lastname)
										else if member.rsvp == "no"
											+notcoming(member.id, member.firstname, member.lastname)
										else
											+invited(member.id, member.firstname, member.lastname)

										div.field.is-horizontal
											div.field-label.label.is-family-vtks.help Food Allergies
											div.field-body
												div.field
													div.control
														input.input.is-small.allergies(type="text"  placeholder="Allergies or dietary restrictions." value=member.allergies onchange="showSendButton()") 
								if user.family.traveling
									div.is-divider.is-family-vtks.has-text-dark(data-content="Travel Info")
									div.field.is-horizontal
										div.field-label.has-text-left
											div.label.is-family-vtks Accomodations
												span.has-text-danger *
										div.field-body
											div.field(id="accomodations-name-container")
												div.control
													input.input(id="accomodations-name" type="text" placeholder="The Hoxton, AirBnb, etc." data-familyid=user.family.id onchange="showSendButton()" value=user.family.accomodations)
									div.field.is-horizontal
										div.field-label.has-text-left
											div.label.is-family-vtks Arrival Date
												span.has-text-danger *
										div.field-body
											div.field(id="arrival-container")
												script
													include calendar.js
												div.control
													input(id="arrival" type="hidden" data-familyid=user.family.id value=user.family.arrival)
													input.input(id="stay-duration" data-familyid=user.family.id data-color="dark" type="date" onchange="showSendButton()")
									div.field.is-horizontal
										div.field-label.has-text-left
											div.label.is-family-vtks Address
												span.has-text-danger *
										div.field-body
											div.field(id="accomodations-add1-container")
												div.control
													input.input(id="accomodations-add1" type="text" placeholder="123 Main st." data-familyid=user.family.id onchange="showSendButton()" value=user.family.address)
									div.field.is-horizontal
										div.field-label.has-text-left
											div.label.is-family-vtks 
										div.field-body
											div.field
												div.control
													input.input(id="accomodations-add2" type="text" placeholder="Suite/Apt/Room #" data-familyid=user.family.id onchange="showSendButton()" value=user.family.address2)
									div.field.is-horizontal
										div.field-label.has-text-left
											div.label.is-family-vtks Zip Code
												span.has-text-danger *
										div.field-body
											div.field(id="accomodations-zip-container")
												div.control
													input.input(id="accomodations-zip" type="number" placeholder="11211" data-familyid=user.family.id onchange="showSendButton()" value=user.family.zip)
									div.help.has-text-danger.is-family-vtks.has-text-left (*Required)

								div.field
									div.control.has-text-centered
										button.button.is-half-width.is-large.is-family-natyl.is-dark.is-hidden(id="send-rsvp" onclick="rsvp(" + user.family.id + ", " + user.id + ", "+ user.family.traveling+", "+ user.family.plusone +")") Send
										div.help.is-danger.is-hidden(id="required") *Please rsvp for all your guests.
										div.help.is-danger.is-hidden(id="required-plusone") *Please choose an rsvp response for your guest.

								div.has-text-centered.is-family-vtks Kindly respond by the Sixteenth of August

