include nav.pug

section.hero(id="idocrew")
    div.hero-body
        h1.title.is-family-secondary.has-text-centered Introducing the I Do Crew
        div.columns

            div.column
                div.card
                    div.card-image
                        figure.image.is-4by3
                            img(
                            src="images/crew/jd.jpg" 
                            alt="JD Allison")
                    div.card-content.is-expanded  
                        p.title.is-4 JD Allison
                        p.subtitle.is-6 Best Man
                        p Michael's older brother.  When they were little, people thought they were twins.  JD still wants Michael to show up places pretending to be him.

                div.card
                    div.card-image
                        figure.image.is-4by3
                            img(
                            src="images/crew/amy.png" 
                            alt="Amy Shuckhart")
                    div.card-content.is-expanded    
                        p.title.is-4 Amy Shuckhart
                        p.subtitle.is-6 Groomsmaid
                        p Michael's sister and the wisest of the Allison clan.   She is the karaoke czar and the go-to resource for embarssaing pet names for Michael.

                div.card
                    div.card-image
                        figure.image.is-4by3
                            img(
                            src="images/crew/adam.png" 
                            alt="Adam Shuckhart")
                    div.card-content.is-expanded  
                        p.title.is-4 Adam Shuckhart
                        p.subtitle.is-6 Groomsman
                        p Michael's brother-in-law (married to Amy).  Michael and Adam have been all over Europe together.  Once they partied in Frankfurt, Germany completely by accident.  

                div.card
                    div.card-image
                        figure.image.is-4by3
                            img(
                            src="images/crew/jason.jpg" 
                            alt="Jason Apfel")
                    div.card-content.is-expanded  
                        p.title.is-4 Jason Apfel
                        p.subtitle.is-6 Groomsman
                        p Michael's longtime bestie and partner in crime.  Jason has so much dirt on Michael that we're pretty sure he's banned from speeches.

            div.column
                div.card
                    div.card-image
                        figure.image.is-4by3
                            img(
                            src="images/crew/jay.jpg" 
                            alt="Jay Watford")
                    div.card-content    
                        p.title.is-4 Jay Watford
                        p.subtitle.is-6 Groomsman
                        p Michael's very first friend (yes, since the age of 2). They met on a playground in the late 80's and have been <s>friends</s> family ever since.

                div.card
                    div.card-image
                        figure.image.is-4by3
                            img(
                            src="images/crew/dan.png" 
                            alt="Dan Melancon")
                    div.card-content    
                        p.title.is-4 Dan Melancon
                        p.subtitle.is-6 Groomsman
                        p Michael and Dan have been best buds coast to coast.  At one point, Michael and Dan played together in 4 bands simulaneously (they were in better shape then).

                div.card
                    div.card-image
                        figure.image.is-4by3
                            img(
                            src="images/crew/mike.png" 
                            alt="Mike Ilves")
                    div.card-content    
                        p.title.is-4 Mike Ilves
                        p.subtitle.is-6 Groomsman
                        p Michael met Mike in college and knew, even then, that they shared a name.  If their 20's were a boat, Mike was the captain and we were all his mates. 

                div.card
                    div.card-image
                        figure.image.is-4by3
                            img(
                            src="images/crew/trevor.jpg" 
                            alt="Trevor Avery")
                    div.card-content    
                        p.title.is-4 Trevor Avery
                        p.subtitle.is-6 Groomsman
                        p Michael's best bud and longtime roomate during the LA years.  Trevor and Michael share passions for grilling, laughing and techincally challenging music.

            div.column
                div.card
                    div.card-image
                        figure.image.is-4by3
                            img(
                            src="images/crew/caitee.jpeg" 
                            alt="Caitee Shelley")
                    div.card-content    
                        p.title.is-4 Caitee Shelley
                        p.subtitle.is-6 Maid of Honor
                        p KM's best bestie since they were 5 years old.  If you need dirt on KM, you've come to the right place.

                div.card
                    div.card-image
                        figure.image.is-4by3
                            img(
                            src="images/crew/michaelgorczynski.jpeg"
                            alt="Michael Gorczynski")
                    div.card-content    
                        p.title.is-4 Michael Gorczynski
                        p.subtitle.is-6 Bridesman
                        p KM's middle bother (engaged to Amanda).  There are a million hilarious stories about Michael, but due to legal reasons, we're not allowed to put any in writing...

                div.card
                    div.card-image
                        figure.image.is-4by3
                            img(
                            src="images/crew/amanda.jpeg"
                            alt="Amanda Szot")
                    div.card-content    
                        p.title.is-4 Amanda Szot
                        p.subtitle.is-6 Bridesmaid
                        p KM's future sister-in-law (engaged to Michael G.).  KM did her first ever sheet face mask with Amanda in 2015.  They posted a photo of the experience to Instagram which Michael G tagged as #leatherface.  They remained on the top posts for #leatherface for many months.         

                div.card
                    div.card-image
                        figure.image.is-4by3
                            img(
                            src="images/crew/tedgorczynski.jpeg" 
                            alt="Ted Gorczynski")
                    div.card-content    
                        p.title.is-4 Ted Gorczynski
                        p.subtitle.is-6 Bridesman
                        p KM's oldest brother (married to Abby).  Teddy taught KM her first word while reading her a book about animals.  He was trying to teach her "dog" but instead, she said "Teddy."

            div.column
                div.card
                    div.card-image
                        figure.image.is-4by3
                            img(
                            src="images/crew/abby.jpg"
                            alt="Abby Schmidt")
                    div.card-content    
                        p.title.is-4 Abby Schmidt
                        p.subtitle.is-6 Bridesmaid
                        p KM's sister-in-law (married to Ted).  Abby is a visual artist whose work has been commissioned and exhibited all over the world.

                div.card
                    div.card-image
                        figure.image.is-4by3
                            img(
                            src="images/crew/meagan.jpeg"
                            alt="Meagan Iosca")
                    div.card-content    
                        p.title.is-4 Meagan Fitzpatrick
                        p.subtitle.is-6 Bridesmaid
                        p KM's cousin on the Iosca side.  Ever the troublemakers, as toddlers they annihilated a heirloom nativity set on Christmas Eve at Mom Mom's house.

                div.card
                    div.card-image
                        figure.image.is-4by3
                            img(
                            src="images/crew/jamie.jpeg"
                            alt="Jamie Gorczynski")
                    div.card-content    
                        p.title.is-4 Jamie Gorczynski
                        p.subtitle.is-6 Bridesmaid
                        p KM's cousin on the Gorczynski side.  They bonded at an early age over their love of *NSync.  KM and Jamie also share a birthday! #libras

                div.card
                    div.card-image
                        figure.image.is-4by3
                            img(
                            src="images/crew/kate.jpeg"
                            alt="Kate Drury")
                    div.card-content    
                        p.title.is-4 Kate Drury
                        p.subtitle.is-6 Bridesmaid
                        p KM's work wife, wedding producer, and part-time therapist.  They have produced events together on three continents -- and counting!

section.hero(id="idocrew")
    div.hero-body
        h1.title.is-family-secondary.has-text-centered Introducing the I Do Crew, Jr.
        div.columns

            div.column
                div.card
                    div.card-image
                        figure.image.is-4by3
                            img(
                            src="images/crew/trevor_shuck.jpg" 
                            alt="Trevor Shuckhart")
                    div.card-content.is-expanded  
                        p.title.is-4 Trevor Shuckhart
                        p.subtitle.is-6 Junior Groomsman
                        p Michael's nephew, son of Adam & Amy.

                div.card
                    div.card-image
                        figure.image.is-4by3
                            img(
                            src="images/crew/brandon.jpg" 
                            alt="Brandon Shuckhart")
                    div.card-content.is-expanded  
                        p.title.is-4 Brandon Shuckhart
                        p.subtitle.is-6 Junior Groomsman
                        p Michael's nephew, son of Adam & Amy.

            div.column
                div.card
                    div.card-image
                        figure.image.is-4by3
                            img(
                            src="images/crew/everest.jpg" 
                            alt="Everest Allison")
                    div.card-content.is-expanded  
                        p.title.is-4 Everest Allison
                        p.subtitle.is-6 Flower Girl
                        p Michael's neice, daughter of JD.

                div.card
                    div.card-image
                        figure.image.is-4by3
                            img(
                            src="images/crew/jack.jpg" 
                            alt="Jack Allison")
                    div.card-content.is-expanded  
                        p.title.is-4 Jack Allison
                        p.subtitle.is-6 Ring Bearer
                        p Michael's nephew, son of JD.

            div.column
                div.card
                    div.card-image
                        figure.image.is-4by3
                            img(
                            src="images/crew/teddy.jpeg" 
                            alt="Placeholder image")
                    div.card-content.is-expanded  
                        p.title.is-4 Teddy Gorczynski
                        p.subtitle.is-6 Ring Bearer
                        p KM's nephew, son of Ted & Abby.
                div.card
                    div.card-image
                        figure.image.is-4by3
                            img(
                            src="images/crew/finn.jpg" 
                            alt="Finn Gorczynski")
                    div.card-content.is-expanded  
                        p.title.is-4 Finn Gorczynski
                        p.subtitle.is-6 Ring bearer in training
                        p KM's nephew, son of Ted & Abby.
