div.field.is-horizontal(id="register-form")
    div.field-body.is-medium
        div.field
            div.control.has-icons-left.is-expanded.is-fullwidth
                input.input.is-medium(
                id="user-email" 
                type="email"
                placeholder="your email")
                span.icon.is-small.is-left
                    i.fas.fa-envelope
          
        div.field.is-grouped
            p.control
                button.button.button.is-info.is-medium(
                id="reg-button"
                onclick="register_post(event)"
                ) Register