if !page.sent
    div.container(id="request-form")
        div.subtitle.has-text-primary 
            | Hmm, we dont recognize <strong class="has-text-primary">#{user.email}</strong>.  
        div.container(id="login-form")          
            div.field.is-horizontal
                div.field-body.is-medium
                    div.field
                        div.control.has-icons-left.is-expanded.is-fullwidth
                            input(
                            type="hidden"
                            id="user-email" 
                            readonly
                            value=user.email)
                            input.input.is-medium(
                            id="user-name" 
                            type="text"
                            placeholder="your full name")
                            span.icon.is-small.is-left
                                i.fas.fa-lock          
                    div.field.is-grouped
                        p.control
                            button.button.button.is-info.is-medium(
                            type="submit"
                            id="req-button"
                            onclick="request()"
                            ) Send
            p.help.is-primary Please send us your name and well we will get back to you shortly
else
    div.container
        h1.title.has-text-dark Thank you!
        p.subtitle.has-text-dark We will get back to you shortly.
        a.button.is-link(href="/") Return